<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Polyglot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"
        id="bootstrap-css">
    <style>
        .nav-pills .nav-item .nav-link.active {
            background-color: #044980;
        }

        .modif {
            background-color: #044980;
            border: #044980;
        }
    </style>
</head>

<body class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 250px; height: 100vh;">
        <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <img src="images/logo.png" height="50px">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/account" class="nav-link text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-house" viewBox="0 0 16 16">
                        <path
                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                    </svg>
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a href="/settings" class="nav-link active text-white" aria-current="page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-gear" viewBox="0 0 16 16">
                        <path
                            d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
                        <path
                            d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
                    </svg>
                    Paramètres
                </a>
            </li>
            <li class="nav-item">
                <a href="/profile" class="nav-link text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    Profil
                </a>
            </li>
            <li class="nav-item">
                <a href="/friends" class="nav-link text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-people" viewBox="0 0 16 16">
                        <path
                            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                    </svg>
                    Amis
                </a>
            </li>
            <% if (isAdmin.isadmin) { %>
                <li class="nav-item">
                    <a href="/gestion" class="nav-link text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-people" viewBox="0 0 20 20">
                            <path d="M17.431,2.156h-3.715c-0.228,0-0.413,0.186-0.413,0.413v6.973h-2.89V6.687c0-0.229-0.186-0.413-0.413-0.413H6.285c-0.228,0-0.413,0.184-0.413,0.413v6.388H2.569c-0.227,0-0.413,0.187-0.413,0.413v3.942c0,0.228,0.186,0.413,0.413,0.413h14.862c0.228,0,0.413-0.186,0.413-0.413V2.569C17.844,2.342,17.658,2.156,17.431,2.156 M5.872,17.019h-2.89v-3.117h2.89V17.019zM9.587,17.019h-2.89V7.1h2.89V17.019z M13.303,17.019h-2.89v-6.651h2.89V17.019z M17.019,17.019h-2.891V2.982h2.891V17.019z"/>
                        </svg>
                        Gestion
                    </a>
                </li>
                <% }  %>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <% if (isAdmin.isadmin) { %>
                    <strong style="font-size: 10px; margin-right: 2Px; margin-top: -3px;  background: -webkit-radial-gradient(ellipse farthest-side at left center, #b43b3b 15%, #f78787 93%);
                background: -moz-radial-gradient(ellipse farthest-side at left center, #550202 15%, #ff0000 93%);
                background: radial-gradient(ellipse farthest-side at left center, #5f0505 15%, #ff0000 93%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">admin</strong>
                    <strong style="background: #110b00;
                    background: -webkit-radial-gradient(ellipse farthest-side at left center, #030303 15%, #757575 93%);
                    background: -moz-radial-gradient(ellipse farthest-side at left center, #1e1e1e 15%, #767676 93%);
                    background: radial-gradient(ellipse farthest-side at left center, #1e1e1e 15%, #545252 93%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">
                        <%= userName %>
                    </strong>
                    <% } else { %>
                        <strong>
                            <%= userName %>
                        </strong>
                        <% } %>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid px-0 " style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">Informations liées au compte</div>
                        <div class="card-body">
                            <form action="/updateInfo" method="post">
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Nom d'utilisateur</label>
                                    <input class="form-control" id="inputUsername" name="user" type="text"
                                        placeholder="Nom d'utilisateur" value="<%= userName %>">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputOrgName">Pays</label>
                                    <select class="form-select" name="country" aria-label="Default select example">
                                        <option name="country" value="angleterre" <%=country==='angleterre' ? 'selected'
                                            : '' %>>Angleterre</option>
                                        <option name="country" value="espagne" <%=country==='espagne' ? 'selected' : ''
                                            %>>Espagne</option>
                                        <option name="country" value="france" <%=country==='france' ? 'selected' : '' %>
                                            >France</option>
                                        <option name="country" value="italie" <%=country==='italie' ? 'selected' : '' %>
                                            >Italie</option>
                                        <option name="country" value="japon" <%=country==='japon' ? 'selected' : '' %>
                                            >Japon</option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Adresse mail</label>
                                    <input class="form-control" id="inputEmailAddress" type="email" name="email"
                                        placeholder="<%= userEmail %>" value="" disabled>
                                </div>
                                <button class="btn btn-primary modif" type="submit">Modifier les changements</button>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header">Modification du mot de passe</div>
                        <div class="card-body">
                            <form action="/updatePass" method="post">
                                <% if (error) { %>
                                    <p class="error-message text-center" style="color: darkred">
                                        <%= error %>
                                    </p>
                                    <% } %>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputUsername">Mot de passe actuel</label>
                                            <input class="form-control" name="oldPass" id="inputUsername"
                                                type="password" placeholder="Mot de passe actuel" value="" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Nouveau mot de
                                                passe</label>
                                            <input class="form-control" name="newPass" id="inputEmailAddress"
                                                type="password" placeholder="Nouveau mot de passe" value="" required>
                                        </div>
                                        <button class="btn btn-primary modif" type="submit">Modifier le mot de
                                            passe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>